<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Réservation</title>
</head>
<body>
    <div id="content">
        <h1>Réservation</h1>
        <form method="post" id="form1" action="/">
            <div>
                <label for="destination">Destination</label>
                <input type="text" name="destination" value= "<%= destination %>" required>
            </div>
                    <div>
                <label for="nbseat">Nombre de places</label>
                <input type="number" name="nbseat" id="nbseat" value= "<%= nbseat %>" required>
            </div>
            <div>
                <label for="assurance">Assurance</label>
                <input type="checkbox" name="assurance" id="assurance" value= "<%= true %>">
            </div>
            <div>
                <input type="submit" value="Etape suivante" formaction="/suivant">
            </div>
        
            <input id="bt_total" type="submit" formaction="/home" value="Calculer le total">
        <div id="total">
            Total de la réservation : <%= total %> €
        </div>
        </form>
    </div>
</body>
</html>