//exemple d'affichage de la liste des produits dans un tableau avec boutton d'ajout en utilisant ejs


<doctype html>

<html>

<head>
	<title>Produits</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<table id="produits">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Price</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% lectures.forEach((lecture, index)=>{ %>
			<tr>
				<td><%= lecture.id %></td>
				<td><%= lecture.name %></td>
				<td><%= lecture.price %></td>
				<td><button class="btn btn-primary" onclick="addProduct(<%= lecture.id %>)">Ajouter</button></td>
			</tr>
		<% }) %>
		</tbody>
	</table>
</body>

</html>